body {
    background-color: #f8f8f8;
    color: #333;
}

.list-wrapper {
    margin: 20px;
    width:auto;
    height: auto;
    overflow-y: scroll;
}

.list__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
}

.list__write {
    background-color: #18A0FB;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
}

.list__search-wrapper {
    display: flex;
    align-items: center;
}

.list__search-button {
    background-color: #18A0FB;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
    margin-left: 10px;
}

.list__search-input {
    width: 200px;
    height: 30px;
    border: 1px solid #18A0FB;
    border-radius: 8px;
    padding: 4px;
    margin-left: 10px;
}

.list__content ul{
    list-style: none;
    padding: 0;
}

.list__item {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 16px;
    padding: 16px;
    background-color: white;
}

.list__item__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.list__item__header a {
    text-decoration: none;
    color: #18A0FB;
    font-weight: bold;
}

.list__item__header span {
    color: #787878;
}

.list__item__content {
    color: #333;
}

.welcometext{
	  color: #18A0FB;
	  position:relative;
	  top:100px;
}

.itembox{
	border: 1px solid black;
	border-radius: 10px;
	margin-top:10px;
	padding:20px;
}

#ratingname{
	color:#18A0FB;
	font-size:20px;
	margin-top: 0;
}
#ratingname a {
    text-decoration: none;
    	color:#18A0FB;

}

#ratingclub{
	margin-top:0;
}

.name-nickname-wrapper {
    display: flex;
    justify-content: space-between;
}

.button_wrap{
	display:flex;
}
