.center h1 {
    margin-bottom: 5px;
}

.center {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 100px;
    top: 50px;
}

h1 {
    color: #18A0FB;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 20px;
}


input[type="text"] {
    display: block;
    width: 60%;
    height: 30px;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #18A0FB;
    border-radius: 10px;
    color: black;
}

button {
    padding: 10px 15px;
    width: 65%;
    margin-top: 30px;
    background-color: #18A0FB;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-button {
    width: 75%;
    margin-top: 40px;
    background-color: #34A853;
    margin-left: 0;
    font-size: 17px;
}

.main-content {
    height: 680px;
}

.center p {
    margin-top: 5px;
}

a {
    color: #18A0FB;
    margin-top: 30px;
}
a.no-underline {
    text-decoration: none;
}
