body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

.item__wrapper {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    background-color: #fff;
}

.item__title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item__title {
    color: #18A0FB;
    margin: 20px 0 5px 0;
}

.item__button {
    background-color: #18A0FB;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
}

.item__info {
    color: #787878;
    font-size: small;
}

.item__modify {
    margin-top: 10px;
}

.item__modify a {
    margin-right: 10px;
    text-decoration: none;
    font-size: small;
    color: #787878;
}

.item__main {
    color: #333;
}

.item__main__title {
    margin: 20px 0 0 0;
}

.item__main__content {
    margin: 0 0 20px 0;
}

.item__footer {
    margin-top: 20px;
}

.item__comment__form-wrapper {
    margin-top: 20px;
}

.item__comment__form {
    display: flex;
    flex-direction: column;
}

.item__comment__form input[type="text"] {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #18A0FB;
    border-radius: 8px;
}

.item__comment__form input[type="submit"] {
    background-color: #18A0FB;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    cursor: pointer;
}

.item__comment__content ul {
    list-style: none;
    padding: 0;
}

.comment__item {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 16px;
    background-color: white;
}

.comment__item div {
    margin-bottom: 8px;
}

.comment__item a {
    text-decoration: none;
    font-size: small;
    color: #787878;
}

.comment__item div:last-child {
    color: #787878;
    font-size: small;
}