body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

.profile-container {
    width: 100%;
    max-width: 500px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-title {
    color: #18A0FB;
    font-size: 28px;
    margin-bottom: 20px;
}

.profile-info {
    margin-bottom: 10px;
}

.profile-info span {
    font-weight: bold;
}

.profile-link {
    display: inline-block;
    color: #18A0FB;
    font-size: smaller;
}

.profile-input {
    width: 400px;
    height: 30px;
    margin-top: 10px;
    color: black;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-left: 10px;
    margin-left: 10px;
}