.register-form__id-message,
.register-form__password-message,
.register-form__email-message,
.register-form__nickname-message {
	font-weight: bold;
	font-size: small;
}

.available,
.password-match {
	color: blue;
}

.not-available,
.password-unmatch {
	color: red;
}