
.promotion__form {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

label[for="promotionName"] {
    font-size: 17px;
    font-weight: 600;
}

label[for="promotionClub"] {
    margin-top: 15px;
    font-size: 17px;
    font-weight: 600;
}

label[for="promotionContents"] {
    margin-top: 15px;
    font-size: 17px;
    font-weight: 600;
}

input[type="text"] {
    width: 400px;
    height: 30px;
    margin-top: 10px;
    color: black;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

textarea {
    margin-top: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

input[type="submit"] {
    width: 300px;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
    color: white;
    left: 400px;
    background-color: #18A0FB;
    border: none;
    margin-top: 30px;
}


.cate {
    font-weight: bold;

}

button[type="submit"] {
    width: 300px;
    height: 30px;
    margin-top: 10px;
    border-radius: 10px;
    position: relative;
    color: white;
    left: 300px;
    background-color: #18A0FB;
    border: none;
    margin-top: 30px;
}

.ratingread p {
    font-size: 20px;
    font-weight: 600;
}

input[type="text"][name="ratingPlay"] {
    width: 800px;
    height: 200px;
}

input[type="text"][name="ratingGood"] {
    width: 800px;
    height: 200px;
}

input[type="text"][name="ratingBad"] {
    width: 800px;
    height: 200px;
}

.button-wrapper {
    display: flex;
    gap: 10px;
}